include includes/head.pug

include includes/header.pug

main
  section.search-panel-wrapper
    form.search-panel-form(action='/search' method='GET')
      input(type='text' name='query' placeholder='Search for')
      button.button Let's found!
      input(type='hidden' name='searchType' value='search-full')
  section.goods-photo-wrapper
    img(src= book.thumbnailUrl)
  section.goods-short-info-wrapper
    h1= title
    p
      span Author: 
      span= book.author
    p
      span Publisher: 
      span= book.publisher
    p
      span Page count: 
      span= book.pageCount + ' pages'
    p
      span Publishing year: 
      span= book.publishedYear

  section.goods-buy-wrapper
    .goods-buy-container
      p.goods-buy-container-header Buy book
      if book.status == 'In Stock'
        p.goods-buy-container-is-avaible
          span
            i.far.fa-check-circle
            span  Available
      else
        p.goods-buy-container-not-avaible
          span
            i.far.fa-times-circle
            span  Not Available
      p.goods-buy-container-price
        span Price: 
        span= '$' + book.price
      if book.status == 'In Stock'
        button.button.add-to-cart-button(title=book.title) Add to cart
      else
        button.button.add-to-cart-button(title=book.title + ' not available' disabled) Add to cart

  section.tabs-wrapper
    .tabs-container
      .tab
        input#tab-1(type='radio' name='tabgroup' checked='')
        label#tabs-first-label(for='tab-1') Description
        .tab-content
          span= book.description
      .tab
        input#tab-2(type='radio' name='tabgroup')
        label(for='tab-2') Detail information
        .tab-content
          .goods-information
            span Title:
            span= book.title
            span Author:
            span= book.author
            span Publisher:
            span= book.publisher
            span Publishing year:
            span= book.publishedYear
            span Pages count:
            span= book.pageCount + ' pages'
            span ISBN:
            span= book.isbn
            span Price:
            span= '$' + book.price
      .tab
        input#tab-3(type='radio' name='tabgroup')
        label(for='tab-3') Reviews
        .tab-content
          p Here must to be reviews

  section.ymal-section
    h2.ymal-section-header You may also like
    .ymal-section-container
      each val in ymalBooks
        .ymal-section-container-item
          img.ymal-section-container-item-image(src= val.thumbnailUrl)
          span.ymal-section-container-item-title= val.title
          span.ymal-section-container-item-author= 'by ' + val.author
          a(href= '/book/' + val.id)
            button.ymal-section-container-item-button.button Buy
    a(href= '/search?query=&searchType=search-full')
      button.ymal-section-look-at-all-button.button Look at all

include includes/footer.pug

script(src='/js/bookPage.js' type='module')